= link_to boat_path(boat.id) do
  .boat-wrapper__post
    .boat-wrapper__post__top
      .boat-wrapper__post__top--image{:style => "background-image: url(#{image_path "#{boat.image}"})"}
    .boat-wrapper__post__bottom
      .boat-wrapper__post__bottom--info
        .boat-wrapper__post__bottom--brand
          = boat.brand.name
        .boat-wrapper__post__bottom--model
          = boat.name
        .boat-wrapper__post__bottom--size
          = boat.size.name
      .boat-wrapper__post__bottom--price
        ￥
        %span
          = boat.price
        %span / Day

