.boat-form__field
  .boat-form__field--image
    = f.label :"船画像"
    = f.file_field :image #データベースに未追加の項目
  .boat-form__field--namebox
    = f.label :"モデル名"
    = f.text_field :name, placeholder: "商品名"
  .boat-form__field--brandbox
    = f.label :"メーカー"
    = f.collection_select :brand_id, Brand.all, :id, :name, { prompt:  '選択してください' }
  .boat-form__field--sizebox
    = f.label :"サイズ"
    = f.collection_select :size_id, Size.all, :id, :name, { prompt:  '選択してください' }
  .boat-form__field--descriptionbox
    = f.label :"説明"
    = f.text_area :description, placeholder: "船の説明(必須 1,000文字以内) (色、重さ、注意点など）", rows: "10"
  .boat-form__field--spot
  .boat-form__field--price
    = f.label :"価格"
    = f.number_field :price, placeholder: "0" #データベースに未追加
  = f.submit "登録する", class:'boat-form__field--btn'