.contents-row
  .container
  %h3 編集する
  = form_with model: @boat, local: true do |form|
    = form.text_field :image, placeholder: "Image Url"
    = form.text_field :description, placeholder: "description", rows: "10"
    = form.text_field :brand_id, placeholder: "brand id"
    = form.text_field :size_id, placeholder: "size id"
    = form.submit "登録"