
.content
  - @boats.each do |boat|
    .content__post{:style => "background-image: url(#{image_path "#{boat.image}"})"}
      = boat.description
      %br/
      = boat.brand_id
      %br/
      = boat.size_id