.contents-row
  .container
  %h3 投稿する
  = form_with model: @boat, local: true do |form|
    = form.file_field :image
    = form.text_field :description, placeholder: "description", rows: "10"
    = form.collection_select :brand_id, Brand.all, :id, :name, { prompt:  '選択してください' }
    = form.collection_select :size_id, Size.all, :id, :name, { prompt:  '選択してください' }
    = form.submit "登録"