.contents-row
  .container
  %h3 投稿する
  = form_with model: @boat, local: true do |form|
    = form.file_field :image
    = form.text_field :description, placeholder: "description", rows: "10"
    = form.collection_select :brand_id, Brand.all, :id, :name, { prompt:  '選択してください' }
    = form.select :size_id, {'S': 1, 'M': 2, 'ML': 3, 'L': 4, 'XXL': 5, 'XXXL': 6}, { include_blank: '選択してください' } , { class: 'form-control', required: true }
    = form.submit "登録"