.boat
  .boat__image{:style => "background-image: url(#{image_path "#{@boat.image}"})"}
  .boat__main
    .boat__main__left
      .boat__main__left--name

        .column
          .column__name The Boat
          .column__content
            = @boat.brand.name
            = @boat.name
            = @boat.size.name

      .boat__main__left--host

        .column
          .column__name Hosted by
          .column__content
            = @boat.user.nickname

      .boat__main__left--description

        .column
          .column__name Description
          .column__content
            = @boat.description

      .boat__main__left--chat

        .column
          .column__name Chat
          .column__content
            - if current_user
              = form_with(model: [@boat, @comment], local: true) do |form|
                = form.text_area :text, placeholder: "comment", rows: "1", class: "column__content--input"
                = form.submit "SEND", class: "column__content--btn"
            - else
              %strong
                %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
            .column__content--comments
              %h4 Comments
              - if @comments
                - @comments.each do |comment|
                  %p
                    %strong
                      = link_to comment.user.nickname, "/users/#{comment.user_id}"
                      ：
                    = comment.text
    
    .boat__main__right
      .boat__main__right--price
        ￥
        %span
          = @boat.price
        %span / Day
      .boat__main__right--form
      .boat__main__right--favorites
      .boat__main__right--share
  .boat__map
  .boat__recommendations

  .boat-wrapper__more
    %span= image_tag 'arrow_top.png'
    %ul.more_list
      - if user_signed_in? && current_user.id == @boat.user_id
        %li
          = link_to '編集', edit_boat_path(@boat.id), method: :get
        %li
          = link_to '削除', boat_path(@boat.id), method: :delete
